/* src/components/UserLogs/UserLogs.css */

.user-logs {
    padding: 20px;
  }
  
  .user-logs h1 {
    margin-bottom: 20px;
  }
  
  .user-logs ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-logs li {
    margin-bottom: 10px;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}