/* src/components/ReservationLogs/ReservationLogs.css */

.reservation-logs {
    padding: 20px;
  }
  
  .reservation-logs h1 {
    margin-bottom: 20px;
  }
  
  .reservation-logs ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reservation-logs li {
    margin-bottom: 10px;
  }
  
  .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}