/* MainPage.css */

.main-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page-header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.main-page-content {
  flex: 1;
  padding: 2rem;
}

.welcome-section {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.welcome-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(25, 24, 26);
  font-size: 55px;
  font-weight: bold;
  z-index: 1;
}

.welcome-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(101, 170, 197, 0.5);
  z-index: 0;
}

.coworking-spaces-section {
  margin-top: 2rem;
}

.spaces-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.space-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  background-color: #f9f9f9;
}

.space-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.space-details {
  margin: 1rem 0;
}

.reserve-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.main-page-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}